<p-toolbar>
    <div class="p-toolbar-group-start">
        <i class="pi pi-align-justify cursor-pointer vertical-align-middle" (click)="toggleMenu()"></i>
    </div>

    <div class="p-toolbar-group-end">
        <span class="p-buttonset">
            <button pButton pRipple pTooltip="Home" tooltipPosition="bottom" icon="pi pi-home" iconPos="left"></button>
            <button pButton pRipple pTooltip="Notofications" tooltipPosition="bottom" icon="pi pi-comments"></button>
            <button pButton pRipple pTooltip="Logout" tooltipPosition="bottom" icon="pi pi-sign-out" iconPos="right" (click)="logout()"></button>
        </span>
    </div>

</p-toolbar>